<div class="md:p-12 p-8">
  <div class="w-full border-t border-base-content/30 grid md:grid-cols-2 grid-cols-1 items-center justify-between">
    <div class="flex gap-4 items-center p-8">
      <img src="../../assets/image/logo.png" class="w-12" alt="Aitoma">
      <h1 class="m-black text-3xl">Aitoma</h1>
    </div>
    <div class="flex text-right gap-4 items-center justify-end p-8">
      <h1>{{ footer[selectedLanguage] }}</h1>
      <img src="../../assets/image/dev.png" class="w-12 inline-block" alt="Aitoma">
    </div>
  </div>
</div>
