<div class="navbar fixed z-10 top-0 left-0 bg-base-300/50 backdrop-blur-md w-full">
  <div class="flex-none lg:hidden">
    <label for="navigation-bar" aria-label="open sidebar" class="btn btn-square btn-ghost">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-6 w-6 stroke-current">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>
  </div>
  <div (click)="navigatePush('')" role="button" class="mx-2 flex-1 gap-3 px-2">
    <img src="../../assets/image/logo.png" class="w-8" alt="Aitoma">
    Aitoma
  </div>
  <div class="lg:hidden flex-none block items-center">
    <ul class="menu menu-horizontal pr-4">
      <li><a (click)="toggleTheme()"><span [ngClass]="{'icon-[icon-park-solid--dark-mode]': currentTheme === 'light', 'icon-[akar-icons--sun-fill]': currentTheme === 'dark', 'text-xl': true}"></span></a></li>
      <li>
        <a>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="icon-[akar-icons--language] text-xl"></div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
              <li><a [ngClass]="{'bg-base-200': selectedLanguage == 1}" (click)="changeLanguage(1)">English</a></li>
              <li><a [ngClass]="{'bg-base-200': selectedLanguage == 0}" (click)="changeLanguage(0)">Indonesia</a></li>
              <li><a [ngClass]="{'bg-base-200': selectedLanguage == 2}" (click)="changeLanguage(2)">日本</a></li>
            </ul>
          </div>
        </a>
      </li>
      <li><button class="btn bg-blue-600 text-white" (click)="navigatePush('login')">Login</button></li>
    </ul>
  </div>
  <div class="hidden flex-none lg:block items-center">
    <ul class="menu menu-horizontal pr-4">
      <li><button (click)="navigatePush('', 'solutions-content')">{{ languagesVocab[0][selectedLanguage] }}</button></li>
      <li><button (click)="navigatePush('', 'services-content')">{{ languagesVocab[1][selectedLanguage] }}</button></li>
      <li><button (click)="navigatePush('', 'pricing-content')">{{ languagesVocab[2][selectedLanguage] }}</button></li>
      <li><button (click)="navigatePush('', 'faq-content')">{{ languagesVocab[3][selectedLanguage] }}</button></li>
      <li><button (click)="navigatePush('', 'contact-content')">{{ languagesVocab[4][selectedLanguage] }}</button></li>
      <li><button (click)="toggleTheme()"><span [ngClass]="{'icon-[icon-park-solid--dark-mode]': currentTheme === 'light', 'icon-[akar-icons--sun-fill]': currentTheme === 'dark', 'text-xl': true}"></span></button></li>
      <li>
        <a>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="icon-[akar-icons--language] text-xl"></div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
              <li><a [ngClass]="{'bg-base-200': selectedLanguage == 1}" (click)="changeLanguage(1)">English</a></li>
              <li><a [ngClass]="{'bg-base-200': selectedLanguage == 0}" (click)="changeLanguage(0)">Indonesia</a></li>
              <li><a [ngClass]="{'bg-base-200': selectedLanguage == 2}" (click)="changeLanguage(2)">日本</a></li>
            </ul>
          </div>
        </a>
      </li>
      <li><button class="bg-blue-600 hover:bg-blue-700 text-white" (click)="navigatePush('login')">Login</button></li>
    </ul>
  </div>
</div>
