<ion-content [fullscreen]="true">
  <div class="bg-base-200 w-full min-h-screen relative text-base-content">
    <div class="drawer lg:drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex items-start justify-center">

        <div class="w-full">
          <div class="flex items-center justify-between w-full p-3 bg-base-200">
            <div>
              <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
                <span class="icon-[tabler--menu-2]"></span>
              </label>
              <span class="lg:inline-block hidden">Datasheets</span>
            </div>
            <app-navbar/>
          </div>
          <div class="w-full lg:h-[89vh] h-[88vh] relative overflow-y-auto min-h-scren bg-base-100 rounded-tl-2xl p-6">
            <div class="w-full grid grid-cols-1 gap-3">
              <div class="flex w-full justify-between items-center mb-2">
                <div>
                  <label for="form_modal" (click)="setSelect(null)" class="btn bg-blue-600 btn-sm text-white"><span class="icon-[carbon--add] text-2xl"></span>Add Datasheet</label>
                </div>
                <input type="checkbox" id="form_modal" class="modal-toggle" />
                <div class="modal" role="dialog">
                  <div class="modal-box max-w-3xl">
                    <form (submit)="onSubmit()">
                      <h3 class="text-lg font-bold">
                        <span>{{ selectedData == null ? 'Add Datasheet' : 'Update Datasheet' }}</span>
                      </h3>
                      <div class="grid grid-cols-3 gap-1">
                        <div class="my-2">
                          <label for="name" class="m-book text-sm">Object Name</label>
                          <input required [(ngModel)]="name" [ngModelOptions]="{standalone: true}" id="name" type="text" placeholder="MTR-3 Motor 3 Phase" class="input input-bordered w-full mt-2 text-sm" />
                        </div>
                        <div class="my-2">
                          <label for="application" class="m-book text-sm">Application</label>
                          <input required [(ngModel)]="application" [ngModelOptions]="{standalone: true}" id="application" type="text" placeholder="Industrial Conveyor System" class="input input-bordered w-full mt-2 text-sm" />
                        </div>
                        <div class="my-2">
                          <label for="serial_number" class="m-book text-sm">Serial Number</label>
                          <input required [(ngModel)]="serial_number" [ngModelOptions]="{standalone: true}" id="serial_number" type="text" placeholder="ETM123456789" class="input input-bordered w-full mt-2 text-sm" />
                        </div>
                        <div class="my-2">
                          <label for="model" class="m-book text-sm">Object Model</label>
                          <input required [(ngModel)]="model" [ngModelOptions]="{standalone: true}" id="model" type="text" placeholder="ETM-4000" class="input input-bordered w-full mt-2 text-sm" />
                        </div>
                        <div class="my-2">
                          <label for="manufacturer" class="m-book text-sm">Manufacturer</label>
                          <input required [(ngModel)]="manufacturer" [ngModelOptions]="{standalone: true}" id="manufacturer" type="text" placeholder="ElectroTech Motors Inc." class="input input-bordered w-full mt-2 text-sm" />
                        </div>
                      </div>
                      <div>
                        <div class="flex items-center justify-between mt-8">
                          <h2>Datasheet Value</h2>
                          <button type="button" (click)="addValue()" class="btn bg-blue-600 hover:bg-blue-700 text-white">Add</button>
                        </div>
                        <div *ngFor="let item of values; let i = index" class="grid grid-cols-3 gap-1">
                          <div class="my-2">
                            <label [for]="'key'+i" class="m-book text-sm">Key</label>
                            <input required [(ngModel)]="values[i].key" [ngModelOptions]="{standalone: true}" [id]="'key'+i" type="text" placeholder="Temperature Max" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'value'+i" class="m-book text-sm">Value</label>
                            <input required [(ngModel)]="values[i].value" [ngModelOptions]="{standalone: true}" [id]="'value'+i" type="text" placeholder="1000" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2 flex items-end gap-1">
                            <div>
                              <label [for]="'unit'+i" class="m-book text-sm">Unit</label>
                              <input required [(ngModel)]="values[i].unit" [ngModelOptions]="{standalone: true}" [id]="'unit'+i" type="text" placeholder="C" class="input input-bordered w-full mt-2 text-sm" />
                            </div>
                            <button type="button" (click)="removeValue(i)" class="btn btn-error">Remove</button>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="flex items-center justify-between mt-8">
                          <h2>Maintenance</h2>
                        </div>
                        <div class="grid grid-cols-2 gap-3">
                          <div class="my-2">
                            <label for="maintenance_initial" class="m-book text-sm">Initial Inspection</label>
                            <input required [(ngModel)]="maintenance.initial" [ngModelOptions]="{standalone: true}" id="maintenance_initial" type="date" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label for="maintenance_lubrication" class="m-book text-sm">Lubrication Inspection</label>
                            <input required [(ngModel)]="maintenance.lubrication" [ngModelOptions]="{standalone: true}" id="maintenance_lubrication" type="text" placeholder="Every 6 months or 2000 hours of operation" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label for="maintenance_interval" class="m-book text-sm">Interval Months</label>
                            <input required [(ngModel)]="maintenance.interval" [ngModelOptions]="{standalone: true}" id="maintenance_interval" type="text" placeholder="6" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label for="maintenance_spare" class="m-book text-sm">Spare</label>
                            <input required [(ngModel)]="maintenance.spare" [ngModelOptions]="{standalone: true}" id="maintenance_spare" type="text" placeholder="Bearing, Stator" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="flex items-center justify-between mt-8">
                          <h2>Operational Data</h2>
                          <button type="button" (click)="addOperation()" class="btn bg-blue-600 hover:bg-blue-700 text-white">Add</button>
                        </div>
                        <div *ngFor="let item of operations; let i = index" class="grid grid-cols-3 gap-1">
                          <div class="my-2">
                            <label [for]="'timestamp'+i" class="m-book text-sm">Timestamp</label>
                            <input required [(ngModel)]="operations[i].timestamp" [ngModelOptions]="{standalone: true}" [id]="'timestamp'+i" type="date" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'current'+i" class="m-book text-sm">Current A</label>
                            <input required [(ngModel)]="operations[i].current" [ngModelOptions]="{standalone: true}" [id]="'current'+i" type="text" placeholder="58" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'runtime'+i" class="m-book text-sm">Runtime M</label>
                            <input required [(ngModel)]="operations[i].runtime" [ngModelOptions]="{standalone: true}" [id]="'runtime'+i" type="text" placeholder="1000" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'vibration'+i" class="m-book text-sm">Vibration mms</label>
                            <input required [(ngModel)]="operations[i].vibration" [ngModelOptions]="{standalone: true}" [id]="'vibration'+i" type="text" placeholder="2.1" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'power'+i" class="m-book text-sm">Power kWH</label>
                            <input required [(ngModel)]="operations[i].power" [ngModelOptions]="{standalone: true}" [id]="'power'+i" type="text" placeholder="29.5" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'load'+i" class="m-book text-sm">Load %</label>
                            <input required [(ngModel)]="operations[i].load" [ngModelOptions]="{standalone: true}" [id]="'load'+i" type="text" placeholder="75" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'temperature'+i" class="m-book text-sm">Temperature C</label>
                            <input required [(ngModel)]="operations[i].temperature" [ngModelOptions]="{standalone: true}" [id]="'temperature'+i" type="text" placeholder="70" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'factor'+i" class="m-book text-sm">Power Factor</label>
                            <input required [(ngModel)]="operations[i].factor" [ngModelOptions]="{standalone: true}" [id]="'temperature'+i" type="text" placeholder="0.89" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2 flex items-end gap-1">
                            <div>
                              <label [for]="'voltage'+i" class="m-book text-sm">Voltage</label>
                              <input required [(ngModel)]="operations[i].voltage" [ngModelOptions]="{standalone: true}" [id]="'voltage'+i" type="text" placeholder="440" class="input input-bordered w-full mt-2 text-sm" />
                            </div>
                            <button type="button" (click)="removeOperation(i)" class="btn btn-error">Remove</button>
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="flex items-center justify-between mt-8">
                          <h2>Fault History</h2>
                          <button type="button" (click)="addFault()" class="btn bg-blue-600 hover:bg-blue-700 text-white">Add</button>
                        </div>
                        <div *ngFor="let item of faults; let i = index" class="grid grid-cols-3 gap-1">
                          <div class="my-2">
                            <label [for]="'timestamp'+i" class="m-book text-sm">Timestamp</label>
                            <input required [(ngModel)]="faults[i].timestamp" [ngModelOptions]="{standalone: true}" [id]="'timestamp'+i" type="date" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'description'+i" class="m-book text-sm">Description</label>
                            <input required [(ngModel)]="faults[i].description" [ngModelOptions]="{standalone: true}" [id]="'description'+i" type="text" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'duration'+i" class="m-book text-sm">Duration M</label>
                            <input required [(ngModel)]="faults[i].duration" [ngModelOptions]="{standalone: true}" [id]="'duration'+i" type="text" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2">
                            <label [for]="'action'+i" class="m-book text-sm">Action Taken</label>
                            <input required [(ngModel)]="faults[i].action" [ngModelOptions]="{standalone: true}" [id]="'action'+i" type="text" class="input input-bordered w-full mt-2 text-sm" />
                          </div>
                          <div class="my-2 flex items-end gap-1">
                            <div>
                              <label [for]="'technician'+i" class="m-book text-sm">Technician</label>
                              <input required [(ngModel)]="faults[i].technician" [ngModelOptions]="{standalone: true}" [id]="'technician'+i" type="text" class="input input-bordered w-full mt-2 text-sm" />
                            </div>
                            <button type="button" (click)="removeOperation(i)" class="btn btn-error">Remove</button>
                          </div>
                        </div>
                      </div>
                      <div class="modal-action">
                        <label for="form_modal" class="btn">Cancel</label>
                        <button type="submit" class="btn bg-blue-600 hover:bg-blue-700 text-white">Save</button>
                      </div>
                    </form>
                  </div>
                </div>

                <input type="checkbox" id="delete_modal" class="modal-toggle" />
                <div class="modal" role="dialog">
                  <div class="modal-box">
                    <h3 class="text-lg font-bold">
                      <span>Delete Datasheet ?</span>
                    </h3>
                    <div class="my-2">
                      <p class="m-book text-sm">Are you sure ? datasheet will be deleted permanently.</p>
                    </div>
                    <div class="modal-action">
                      <label for="delete_modal" class="btn">Cancel</label>
                      <button (click)="onDelete()" type="submit" class="btn btn-error">Delete</button>
                    </div>
                  </div>
                </div>

                <div class="flex items-center gap-3">
                  <div class="btn bg-blue-600 btn-sm text-white">Export Data</div>
                  <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-sm bg-base-100 px-0 m-1"><span class="text-xl icon-[uis--ellipsis-v]"></span></div>
                    <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-[1] w-52 p-2 shadow">
                      <li><a>Delete All</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div>
                <div *ngFor="let item of data; let i = index" tabindex="0" class="border-base-300 rounded-xl pb-6 bg-base-200 border my-2">
                  <div class="collapse-title" (click)="selectedData = i">
                    <div class="w-full grid md:grid-cols-2 grid-cols-1 justify-between items-center gap-3">
                      <div>
                        <span class="badge bg-blue-600 text-white capitalize mb-2">{{ item?.category }}</span>
                        <h4>{{ item?.name }}</h4>
                        <p class="text-xs mt-1">{{ item?.application }} | {{ item?.serial_number }}</p>
                      </div>
                      <div class="md:text-right flex items-center gap-3 md:justify-end">
                        <div>
                          <h4>{{ item?.model }}</h4>
                          <p class="text-xs mt-1">{{ item?.manufacturer }}</p>
                        </div>
                        <div class="dropdown dropdown-end md:relative absolute md:right-0 right-8 md:top-0 top-3">
                          <div tabindex="0" role="button" class="btn btn-sm bg-base-100 px-0 m-1"><span class="text-xl icon-[uis--ellipsis-v]"></span></div>
                          <ul tabindex="0" class="dropdown-content menu bg-base-200 rounded-box z-[1] w-52 p-2 shadow">
                            <li><label for="form_modal" class="setSelect(i)">Update</label></li>
                            <li><label for="delete_modal">Delete</label></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div *ngIf="selectedData == i">
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-3 p-4">
                      <div class="col-span-1">
                        <div class="w-full overflow-x-auto">
                          <table class="table table-xs">
                            <thead>
                              <tr>
                                <th>Item</th>
                                <th>Value</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of item?.values; let j = index">
                                <th>{{ item?.key }}</th>
                                <th>{{ item?.value }} {{ item.unit }}</th>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-span-1">
                        <h3>Operational Data</h3>
                        <div class="w-full overflow-x-auto mt-3">
                          <table class="table table-xs">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Current</th>
                                <th>Voltage</th>
                                <th>Power</th>
                                <th>Runtime</th>
                                <th>Vibration</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let operation of item?.operations; let j = index">
                                <th>{{ operation?.timestamp }}</th>
                                <th>{{ operation?.current }} A</th>
                                <th>{{ operation?.voltage }} V</th>
                                <th>{{ operation?.power }} kW</th>
                                <th>{{ operation?.runtime }} Hours</th>
                                <th>{{ operation?.vibration }} m/s<sup>2</sup></th>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <h3 class="mt-5">Fault History</h3>
                        <div class="w-full overflow-x-auto mt-3">
                          <table class="table table-xs">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Duration(m)</th>
                                <th>Action</th>
                                <th>By</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let operation of item?.faults; let j = index">
                                <th>{{ operation?.timestamp }}</th>
                                <th>{{ operation?.description }}</th>
                                <th>{{ operation?.duration }}</th>
                                <th>{{ operation?.action }}</th>
                                <th>{{ operation?.technician }}</th>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <h3 class="mt-5">Maintenance Schedule</h3>
                        <div class="w-full overflow-x-auto mt-3">
                          <table class="table table-xs">
                            <thead>
                              <tr>
                                <th>Item</th>
                                <th>Value</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>Initial Date</th>
                                <th>{{ item?.maintenance?.initial }}</th>
                              </tr>
                              <tr>
                                <th>Lubrication Schedule</th>
                                <th>{{ item?.maintenance?.lubrication }}</th>
                              </tr>
                              <tr>
                                <th>Interval</th>
                                <th>{{ item?.maintenance?.interval }} Months</th>
                              </tr>
                              <tr>
                                <th>Recommended Spare Parts</th>
                                <th>{{ item?.maintenance?.spare }}</th>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <app-menu menu_active="datasheets"/>
      </div>
    </div>
  </div>
</ion-content>
