<label for="navigation-bar" aria-label="close sidebar" class="drawer-overlay"></label>
<ul class="menu bg-base-200 min-h-full w-80 px-4 pb-4 pt-24">
  <li><a href="/home#solutions-content">{{ languagesVocab[0][selectedLanguage] }}</a></li>
  <li><a href="/home#services-content">{{ languagesVocab[1][selectedLanguage] }}</a></li>
  <li><a href="/home#pricing-content">{{ languagesVocab[2][selectedLanguage] }}</a></li>
  <li><a href="/home#faq-content">{{ languagesVocab[3][selectedLanguage] }}</a></li>
  <li><a href="/home#contact-content">{{ languagesVocab[4][selectedLanguage] }}</a></li>
</ul>
